<ul class="nav">
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/berries">Berries <span id="berries" class="berries"></span></a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/ingredients">Ingredients <span id="ingredients" class="ingredients"></span></a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/skills">Skills <span id="skills" class="skills"></span></a></li>
  <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/recipes">Recipes <span id="recipes" class="recipes"></span></a></li>
</ul>
<!-- <img src="../../assets/icons/moomoomilk.png"> -->