<div class="header">
  <ul class="nav">
    <li><a routerLink="/berries"><img class="pokemonsleep" src="/assets/icons/PokemonSleep.png" /></a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/berries"><span>Berries</span></a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/ingredients"><span>Ingredients</span></a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/skills"><span>Skills</span></a></li>
    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/recipes"><span>Recipes</span></a></li>
  </ul>
</div>