.nav {
  border-bottom: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.berries, .ingredients, .skills, .recipes {
  // border: 1px solid black;
  position: absolute;
  top: 0;
  margin-top: 0.45rem;
  margin-left: 0.2rem;
}

.nav li {
  justify-content: center;
  padding: 10px 40px 10px 40px;
  // border-right: 1px solid white;
}
.nav li:first-child {
  margin-left: -20px;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}