ul {
  list-style-type: none;
}

.berrylist {
  display: flex;
  flex-direction: row;
}

.berry {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid white;
  border-radius: 2px;
  width: 32rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  &-name {
    color: white;
    min-width: 4.5rem;
    font-size: 12px;
    height: 1rem;
    margin-top: 0.35rem;
  }
  &-img {
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.pokemonSprite {
  width: 40px;
  height: 40px;
}