<span id="berryimg"></span>
<span id="belueberry"></span>
<span id="blukberry"></span>
<span id="cheriberry"></span>
<span id="chestoberry"></span>
<span id="durinberry"></span>
<span id="figyberry"></span>
<span id="grepaberry"></span>
<span id="leppaberry"></span>
<span id="lumberry"></span>
<span id="magoberry"></span>
<span id="oranberry"></span>
<span id="pamtreberry"></span>
<span id="pechaberry"></span>
<span id="persimberry"></span>
<span id="rawstberry"></span>
<span id="sitrusberry"></span>
<span id="wikiberry"></span>
<span id="yacheberry"></span>