.header {
  display: flex;
  flex-direction: row;
}

.pokemonsleep-mobile {
  display: none;
}

.nav {
  border-bottom: 1px solid #ccc;
  border-width: 1px 0;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 2rem;
  width: 100vw;
  padding: 1rem;
}


.nav li {
  padding: 0.3rem 3rem 0rem 3rem;
  font-family: sans-serif;
}

.nav li:first-child {
  padding: 0rem;
  position: absolute;
  left: 2rem;
  top: 1rem;
  & > a {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: row;
  }
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

.language-switcher {
  position: absolute;
  right: 1rem;
  top: 1rem;
  display: none;
}

@media (max-width: 800px) {
  .pokemonsleep-mobile {
    display: flex;
    width: 4rem;
    height: 2.5rem;
    position: absolute;
    z-index: 0;
    right: 1.75rem;
    top: 2rem;
  }

  .header {
    display: none;
  }
}
