<div class="recipes">
  <p class="recipes-title">Recipe Strength Calculator</p>
  <div class="recipes-category">
    <span>Dish Level:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Multiplier:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Island Bonus:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Multiplier:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Estimated Total Strength:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Extra Tasty:</span> <input />
  </div>
  <div class="recipes-category">
    <span>Sunday Extra Tasty:</span> <input />
  </div>
</div>
