.recipes {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 100rem;
  padding: 0.4rem 1rem 0.4rem 1rem;
  &-title, &-category {
    color: white;
    font-size: 14px;
    height: 1.6rem;
    margin-top: 0.6rem;
    align-items: center;
    margin-left: 0.5rem;
  }

  &-category {
    display: flex;
    margin-bottom: 1rem;
    & > span {
      display: flex;
      width: 10rem;
      margin-top: 0.25rem;
    }
    & > input {
      border: none;
      outline: none;
      padding: 0.25rem;
    }
    & > img {
      height: 4rem;
      width: 4rem;
      margin-left: 10rem;
    }
    &-bp {
      margin-left: 0.4rem;
      font-size: 1.2rem;
    }
  }

  &-base {
    display: flex;
    flex-direction: column;
    align-items: top;
    color: white;
    font-size: 14px;
    height: 1.6rem;
    margin-top: 0.6rem;
    margin-left: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    width: 16rem;
    height: auto;
    margin-left: 10rem;
    &-details {
      display: flex;
      & > img {
        height: 4rem;
        width: 4rem;
      }
      & > span {
        margin-left: 0.4rem;
        font-size: 1.2rem;
        margin-top: 1.4rem;
      }
    }

    &-ingredients {
      display: flex;
      flex-direction: row;
      margin-left: 0.25rem;
      & > div {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        & > img {
          height: 2rem;
          width: 2rem;
        }
        & > span {
          margin-top: 0.63rem;
          margin-left: 0.1rem;
        }
      }
    }
  }

  &-ingredients {
    display: flex;
    flex-direction: row;
    width: 68rem;
    border: 1px solid white;
    padding: 0.5rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    word-wrap: break-word;
    flex-wrap: wrap;
  }
}

.ingredient {
  display: flex;
  /* flex-direction: row; */
  /* border: 1px solid red; */
  color: white;
  width: 22rem;
  /* margin-bottom: 1rem; */
  
  &-img {
    width: 2rem;
    height: 2rem;
  }
  &-name {
    display: flex;
    width: 25rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
    /* border: 1px solid green; */
  }
  &-bp {
    display: flex;
    width: 10rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    /* border: 1px solid red; */
  }
}

.updateIngredientsCount {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.updateIngredientsCount::-webkit-inner-spin-button,
.updateIngredientsCount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.number-input {
  border: 1px solid #9E9E9E;
  display: inline-flex;
  border-radius: 3px;
  margin-bottom: 1.25rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  outline: none;
}

.number-input button {
  outline: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 1px #474747;
  border-radius: 50%;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.75rem;
  height: 0.125rem;
  background-color: white;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input .updateIngredientsCount {
  font-family: sans-serif;
  max-width: 2rem;
  padding: 0.5rem;
  padding-top: 0.75rem;
  border: none;
  border-width: 0 0.125rem;
  font-size: 1.25rem;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #202023;
}