<ul class="ingredientlist" *ngFor="let ingredient of allIngredients; index as i">
  <li class="ingredient">
    <div class="accordion-header" (click)="toggle(i)">
      <div class="ingredient-img">
        <img class="ingredient-img-sprite" [src]="getSprite(ingredient)" alt="ingredient name" />
      </div>
      <span class="ingredient-name">{{ getIngredientName(ingredient) }} ({{ getIngredientBasePower(ingredient) }})</span>
    </div>
    <div class="accordion-content" [ngClass]="{'open': isOpen && expandedIndex === i}">
      <div *ngFor="let pokemon of pokemonList" [ngClass]="{'open': isOpen}">
        <div *ngIf="checkPokemonHasIngredient(ingredient, pokemon)">
          <img
            class="pokemonSprite"
            [src]="getPokemonByIngredient(ingredient, pokemon)"
            alt="pokemon sprite"
          >
        </div>
      </div>
    </div>
  </li>
</ul>