.recipes {
  display: flex;
  flex-direction: column;
  padding: 0.4rem 1rem 0.4rem 1rem;
  overflow-x: hidden;
  &-title, &-selection, &-category {
    color: white;
    font-size: 1.2rem;
    height: 1.6rem;
    margin-top: 0.6rem;
    align-items: center;
    margin-left: 0.5rem;
    font-family: sans-serif;
  }

  &-title {
    font-size: 1.5rem;
    font-family: sans-serif;
    height: 1rem;
  }

  &-selection, &-category {
    display: flex;
    margin-bottom: 1rem;
    & > span {
      display: flex;
      width: 16rem;
      margin-top: 0.25rem;
    }
    & > input {
      border: none;
      outline: none;
      padding: 0.4rem;
      width: 4.25rem;
    }
    & > img {
      height: 4rem;
      width: 4rem;
    }
    &-bp {
      margin-left: 0.4rem;
      font-size: 1.2rem;
    }
    & > select {
      padding: 0.4rem 0.25rem 0.25rem 0.25rem;
      outline: none;
      & > option {
        & > span {
          font-size: 2rem;
          margin-top: 1rem;
        }
      }
    }
  }

  &-base {
    display: flex;
    flex-direction: column;
    align-items: top;
    color: white;
    font-size: 1rem;
    height: 1.6rem;
    margin-top: 0rem;
    margin-left: 0.5rem !important;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-radius: 0.25rem;
    width: 19.8rem;
    height: auto;
    margin-left: 16.5rem;
    &-details {
      display: flex;
      font-family: sans-serif;
      justify-content: space-between;
      & > img {
        height: 4rem;
        width: 4rem;
        margin-left: 0.25rem;
      }
      & > span {
        padding-right: 0.5rem;
        padding-top: 0.5rem;
        border-bottom-left-radius: 2rem 2rem;
        padding-bottom: 0.5rem;
        padding-left: 1rem;
        background-color: #E49B0F;
        border: 1px solid white;
        height: 1.5rem;
        font-size: 1.2rem;
      }
    }

    &-ingredients {
      display: flex;
      flex-direction: row;
      margin-left: 0.25rem;
      & > div {
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5rem;
        margin-left: 0.25rem;
        margin-right: 0.5rem;
        & > img {
          height: 2rem;
          width: 2rem;
        }
        & > span {
          margin-top: 0.63rem;
          margin-left: 0.1rem;
        }
      }
    }
  }

  &-ingredients {
    display: flex;
    flex-direction: row;
    width: 72rem;
    padding-top: 0.75rem;
    padding-bottom: 0rem;
    flex-wrap: wrap;
    font-family: sans-serif;
    margin-bottom: 1rem;
  }

  &-category {
    width: 28rem;
    & > span {
      width: 14rem;
    }
  }

  &-selection {
    width: 28rem;
    & > span {
      width: 4.5rem;
    }
  }

  &-ingredients {
    width: 94vw;
    flex-wrap: wrap;
  }
  &-base {
    margin-left: 0.5rem;
  }
}

.ingredient {
  display: flex;
  color: white;
  width: 24rem;
  
  &-img {
    width: 2rem;
    height: 2rem;
  }
  &-name {
    display: flex;
    width: 40rem;
    margin-top: 0.5rem;
    margin-left: 0.2rem;
  }
  &-bp {
    display: flex;
    width: 10rem;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
  }
}

.updateIngredientsCount {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

.updateIngredientsCount::-webkit-inner-spin-button,
.updateIngredientsCount::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.number-input {
  border: 1px solid #9E9E9E;
  display: inline-flex;
  border-radius: 0.1rem;
  margin-bottom: 1.25rem;
  margin-top: 0.25rem;
  margin-right: 0.5rem;
}

.number-input,
.number-input * {
  box-sizing: border-box;
  outline: none;
}

.number-input button {
  outline: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 1.5rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 1px #474747;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 0.75rem;
  height: 0.125rem;
  background-color: white;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input .updateIngredientsCount {
  font-family: sans-serif;
  max-width: 3.5rem;
  padding: 0.5rem;
  padding-top: 0.75rem;
  border: none;
  border-width: 0 0.125rem;
  font-size: 1.25rem;
  height: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: #FFFFFF;
  background-color: #202023;
}

@media (max-width: 800px) {
  .recipes {
    &-title {
      margin-top: 6rem;
    }
  }
}

@media (max-width: 400px) {
  .ingredient {
    display: flex;
    color: white;
    width: 22rem;
  }
}