<img width="25px" height="25px" src="../../assets/icons/beansausage.png">
<img width="25px" height="25px" src="../../assets/icons/fancyapple.png">
<img width="25px" height="25px" src="../../assets/icons/fancyegg.png">
<img width="25px" height="25px" src="../../assets/icons/fieryherb.png">
<img width="25px" height="25px" src="../../assets/icons/greengrasssoybeans.png">
<img width="25px" height="25px" src="../../assets/icons/honey.png">
<img width="25px" height="25px" src="../../assets/icons/largeleek.png">
<img width="25px" height="25px" src="../../assets/icons/moomoomilk.png">
<img width="25px" height="25px" src="../../assets/icons/pureoil.png">
<img width="25px" height="25px" src="../../assets/icons/slowpoketail.png">
<img width="25px" height="25px" src="../../assets/icons/snoozytomato.png">
<img width="25px" height="25px" src="../../assets/icons/softpotato.png">
<img width="25px" height="25px" src="../../assets/icons/soothingcacao.png">
<img width="25px" height="25px" src="../../assets/icons/tastymushroom.png">
<img width="25px" height="25px" src="../../assets/icons/warmingginger.png">